body {
    background: whiteSmoke;
    padding: 100px;
    margin: 0;
}
.container{
    border: 1px solid #DDD;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background: #ffffff;

}